@CHARSET "EUC-KR";
html, body, div, h3, p {
	margin: 0px;
	padding: 0px;
}
h3 {
	position: relative;
	top: 60px;
	font-size: 50px;
	color: white;	
}
#header {
	background: url("img/title_bg.jpg") center center;
	background-size: cover;
	height: 200px;
}
#article {
	padding: 50px;
	height: 600px;
}
#footer {
	background: url("img/footer_bg.jpg") center center;
	background-size: cover;
	height: 50px;
	font-size: 15px;
	font-style: italic;
	color: white;
	text-align: center;
}
#footer span{
	position: relative;
	top: 15px;
}
table{
   border-collapse: collapse;
}

#table_content{
   border: 1px solid black;
}

#tiletd{
   border-bottom: 1px dotted;
   border-bottom-color: #a9aeb2;
   border-right: 1px dotted;
   border-right-color: #a9aeb2;
}

a{
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 15px;
}

.tdimg{
   background: url("img/sub_img.png") center center;
   text-align: center;
}
#table_content td{
   width: 300px;
}
#subject, #content{
   text-align: left;
}
h1{
   position: relative;
   top:50px;
   font-size: 45pt;
   
}
#icon{
   position: relative;
   top: 150px;
}
#button{
   position: relative;
   top: 250px;
   width: 100px;
   height: 100px;
}