@CHARSET "UTF-8";
html, body, div, h3, p, span, button{
	margin: 0px;
	padding: 0px;
} 
h3 {
	position: relative;
	top: 60px;
	font-size: 50px;
	color: white;	
}
#header {
	background: url("img/title_bg.jpg") center center;
	background-size: cover;
	height: 200px;
}
#article {
	padding: 20px;
	min-height: 660px;
}
#footer {
	width: 100%;
	background: url("img/footer_bg.jpg") center center;
	background-size: cover;	
	height: 50px;
	font-size: 15px;
	font-style: italic;
	color: white;
	text-align: center;
}
#footer span{
	position: relative;
	top: 15px;
}
table{
	font-size: 12pt;	
}
#list_table{
   -webkit-animation: mymove2 2s; /* Chrome, Safari, Opera */
   animation: mymove2 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove2 {
	0%   { top:0px; }
    20%  { top:-3px; }
    50%  { top:35px; }
    100% { top:20px; }
}

@keyframes mymove2 {
	0%   { top:0px; }
    20%  { top:-3px; }
    50%  { top:35px; }
    100% { top:20px; }
}
#list_table, #content_table, .button_table, #insert_table, .del_table {
	border-collapse: collapse;
	position : relative;
	top: 20px;
}
#list_table, #content_table, #insert_table, .del_table {
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
#list_table th, #content_table th, #insert_table th, .del_table th{
	border-bottom: 2px solid gray;
	background-color: #e3e3e3;
	color: black;	
	text-align: center;	
	font-weight: bolder;
	height: 44px;
}
#insert_table td {
	border-bottom: 1px solid #cfcfcf;
	padding: 5px 15px 5px 15px;
}
#list_table td, #insert_table th, #content_table th, #content_table td, .del_table td{
	border-bottom: 1px solid #cfcfcf;
	text-align: center;
	height: 44px;
}
#list_table tr:HOVER {
	background-color: #cfcfcf;
}
#content_table tr, #insert_table tr {
	border-bottom: 1px solid #cfcfcf;
	background-color: #f2f2f2;
	height: 44px;	
	overflow: hidden;
}
#list_table #cont, #content_table #cont {
	background-color: white;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	height: 300px;
}
#list_table #left_td, #content_table .left_td {
	text-align: left;
	padding-left: 10px;
}
#content_table .right_td {
	text-align: right;
	padding-right: 10px;
}
.button_table .right_td {
	text-align: right;
	padding-top: 5px;
}
.del_align {
	text-align: center;
	position: relative;
	top: 150px;
} 
form, select, option{
	font-weight: bolder;
}
a{
	text-decoration: none;
	color: black;
}
a.h3{
	color: white;
}
a:HOVER, a.h3:HOVER{
	color: orange;
}
.btn_icon:HOVER, #button:HOVER {
	opacity: 0.5;
}
.btn_list {
	border: 1px solid gray;
	background-color: white;
	font-size: 11pt;
	padding: 2px 15px 2px 15px;
}

.btn_title {
	font-size: 15pt;
	font-weight: bolder;
	font-style: italic;
	border: 1px solid gray;
	background-color: white;
	-webkit-border-radius: 20px;
	-mox-border-radius: 20px;
	border-radius: 20px;
	padding: 6px 30px 6px 30px;
}
.find_td {
	text-align: right;
	height: 36px;
}
.find_td select#fs, .find_td input#sendBtn {
	width: auto;
	height: 34px;
	font-size: 12pt;
	font-weight: bolder;
	padding: 2px 10px 2px 10px;
}
.find_td input#fi {
	vertical-align: top;
	height: 32px;
	padding: 0px;
}
.click, .btn_title {
	box-shadow:1px 1px 5px 2px gray inset;
}
.btn_icon{
	width: 25px;
	height: 25px;
}
.btn_normal, .btn_normal2, .btn_select{
	width: auto;
	height: auto;
	background-color: gray;
	border: 1px solid gray;
	color: white;
	padding: 5px 15px 5px 15px;
	font-size: 15pt
}
.btn_select{
	background-color: #ff3939;
	border: 1px solid #ff3939;
}
.btn_normal2{
	background-color: white;
	border: 3px solid gray;
	color: black;
	font-size: 10pt;
	font-weight: bolder;
	font-style: italic;
}
.btn_normal:HOVER, .btn_select:HOVER, .btn_normal2:HOVER, .btn_list:HOVER{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
.btn_normal2:HOVER{
	background-color: gray;
	color: white;
}
.text_block{
	width: auto;
	height: auto;
	font-weight: bolder;
	font-style: italic;
}
.valign{
	vertical-align: super;
}
#delete_tr{
	color: red;
	text-decoration: line-through;
	background-color: #f2f2f2;
}
div#star_rating{
	height: 65%;
	width: 70%;
	background: url("img/star.png");
	background-position-x: left;
	background-size: cover;
	overflow: hidden;
	position: relative;
	left: 15%;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="text"],
input[type="password"],
select, textarea, button{
	-webkit-border-radius: 5px;
	-mox-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
	font-size: 13pt;
	border: 2px solid gray;
}
input[type="text"],
input[type="password"]{
	height: 25px;
}

/*-------------------은혜씨---------------------------*/
#table_content{
   border-collapse: separate;
   border-spacing: 10px;
   position : relative;
   top: 20px;
   margin: 10px;
   -webkit-animation: mymove 2s; /* Chrome, Safari, Opera */
   animation: mymove 2s;	
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
	0%   { left:0px; }
    25%  { left:-50px; }
    75%  { left:50px; }
    100% { left:0px; }
}

@keyframes mymove {
	0%   { left:0px; }
    25%  { left:-50px; }
    75%  { left:50px; }
    100% { left:0px; }
}
#tiletd{
   border: 1px solid #a9aeb2;
   -webkit-border-radius: 20px;
   -mox-border-radius: 20px;
   border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
}
#tiletd:HOVER {
	opacity: 0.7;
	border: 1px solid #e0e0e0;
	box-shadow: 10px 8px 8px 0 rgba(0, 0, 0, 0.2), 10px 12px 20px 0 rgba(0, 0, 0, 0.19);
}
.tdimg{
   background: url("img/sub_img.png") center;
   background-size: 260px 100px;
   background-repeat: no-repeat;
   text-align: center;
}
#table_content td {
   width: 270px;
   font-weight: bolder;
   padding: 10px;	
}
#subject, #content{
   text-align: left;
}
h1{
   position: relative;
   top:50px;
   font-size: 45pt;
}
#icon{
   position: relative;
   top: 150px;
}
#button{
   position: relative;
   top: 250px;
   width: 100px;
   height: 100px;
   -webkit-animation: rotate 2s; /* Chrome, Safari, Opera */
   animation: rotate 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotate {
	0%{ transform: rotate(0deg);}
	5%{ transform: rotate(20deg);}
	10%{ transform: rotate(0deg);}
	15%{ transform: rotate(-20deg);}
	20%{ transform: rotate(0deg);}
	25%{ transform: rotate(20deg);}
	30%{ transform: rotate(0deg);}
	35%{ transform: rotate(-20deg);}
	40%{ transform: rotate(0deg);}
	45%{ transform: rotate(20deg);}
	50%{ transform: rotate(0deg);}
	55%{ transform: rotate(-20deg);}
	60%{ transform: rotate(0deg);}
	65%{ transform: rotate(20deg);}
	70%{ transform: rotate(0deg);}
	75%{ transform: rotate(-20deg);}
	80%{ transform: rotate(0deg);}
	85%{ transform: rotate(20deg);}
	90%{ transform: rotate(0deg);}
	95%{ transform: rotate(-20deg);}
	100%{ transform: rotate(0deg);}
}

@keyframes rotate {
	0%{ transform: rotate(0deg);}
	5%{ transform: rotate(20deg);}
	10%{ transform: rotate(0deg);}
	15%{ transform: rotate(-20deg);}
	20%{ transform: rotate(0deg);}
	25%{ transform: rotate(20deg);}
	30%{ transform: rotate(0deg);}
	35%{ transform: rotate(-20deg);}
	40%{ transform: rotate(0deg);}
	45%{ transform: rotate(20deg);}
	50%{ transform: rotate(0deg);}
	55%{ transform: rotate(-20deg);}
	60%{ transform: rotate(0deg);}
	65%{ transform: rotate(20deg);}
	70%{ transform: rotate(0deg);}
	75%{ transform: rotate(-20deg);}
	80%{ transform: rotate(0deg);}
	85%{ transform: rotate(20deg);}
	90%{ transform: rotate(0deg);}
	95%{ transform: rotate(-20deg);}
	100%{ transform: rotate(0deg);}
}